<ion-view title="Spike Island" id="home-page">
    <ion-content overflow-scroll="true" padding="false" class="has-header">
      <div class="c-card t-fortress">
        <a ui-sref="menu.islandFortress">
          <div class="c-card__image-container">
            <img src="img/timeline/IF-Defence-of-the-State.jpg" class="c-card__image"/>
          </div>
          <div class="c-card__body">
            <h1 class="c-card__title">Island Fortress</h1>
          </div>
          <span class="c-card__bar">More Information <i class="icon ion-chevron-right"></i></span>
        </a>
      </div>
        <div class="c-card t-prison">
          <a ui-sref="menu.islandPrison">
            <div class="c-card__image-container">
              <img src="img/timeline/IP-Convict-Prison.jpg" class="c-card__image"/>
            </div>
            <div class="c-card__body">
              <h1 class="c-card__title">Island Prison</h1>
            </div>
            <span class="c-card__bar">More Information <i class="icon ion-chevron-right"></i></span>
          </a>
        </div>
        <div class="c-card t-home">
          <a ui-sref="menu.islandHome">
            <div class="c-card__image-container">
              <img src="img/timeline/IH-An-Island-Home.jpg" class="c-card__image"/>
            </div>
            <div class="c-card__body">
              <h1 class="c-card__title">Island Home</h1>
            </div>
            <span class="c-card__bar">More Information <i class="icon ion-chevron-right"></i></span>
          </a>
        </div>
        <div class="c-card t-harbour">
          <a ui-sref="menu.corkHarbour">
            <div class="c-card__image-container">
              <img src="img/timeline/CH-Defence-of-the-Empire.jpg" class="c-card__image"/>
            </div>
            <div class="c-card__body">
              <h1 class="c-card__title">Cork Harbour</h1>
            </div>
            <span class="c-card__bar">More Information <i class="icon ion-chevron-right"></i></span>
          </a>
        </div>
        <div class="c-card">
          <a ui-sref="menu.islandTimeline">
            <div class="c-card__image-container">
              <img src="img/timeline/CH-A-Safe-Harbour-for-Ships.jpg" class="c-card__image"/>
            </div>
            <div class="c-card__body">
              <h1 class="c-card__title">Island Timeline</h1>
            </div>
            <span class="c-card__bar">More Information <i class="icon ion-chevron-right"></i></span>
          </a>
        </div>
        <div class="c-card">
          <a ui-sref="menu.virtualTour">
            <div class="c-card__image-container">
              <img src="img/monoliths/monolith_05.jpg" class="c-card__image"/>
            </div>
            <div class="c-card__body">
              <h1 class="c-card__title">Take a Virtual Tour</h1>
            </div>
            <span class="c-card__bar">More Information <i class="icon ion-chevron-right"></i></span>
          </a>
        </div>
        <div class="c-card">
          <a ui-sref="menu.visitSpikeIsland">
            <div class="c-card__image-container">
              <img src="img/timeline/CH-In-Cork-Harbour.jpg" class="c-card__image"/>
            </div>
            <div class="c-card__body">
              <h1 class="c-card__title">Visit Spike Island</h1>
            </div>
            <span class="c-card__bar">More Information <i class="icon ion-chevron-right"></i></span>
          </a>
        </div>
    </ion-content>
</ion-view>
