<ion-view id="timeline-detail">
  <ion-nav-title>{{ entry.themeName }}</ion-nav-title>
    <ion-content overflow-scroll="true" padding="false" class="has-header">
        <section class="c-block t-{{ entry.theme }}">
          <div class="c-block__head">
            <img ng-src="{{ entry.image }}" />
            <div class="c-block__bar">
              <h1 class="c-block__date" ng-hide="entry.displayDate">{{ entry.date }}<span ng-if="entry.plural">s</span></h1>
              <h1 class="c-block__date c-block__date--range" ng-if="entry.displayDate">{{ entry.displayDate }}</h1>
            </div>
          </div>
          <div class="c-block__body">
            <h3>{{ entry.title }}</h3>
            <span ng-bind-html="entry.body | renderHTMLCorrectly"></span>
            <div class="c-block__fact" ng-if="entry.fact">
              <p class="u-p2">Did You Know?</p>
              <span ng-bind-html="entry.factBody | renderHTMLCorrectly" ng-if="entry.fact"></span>
            </div>

            <div class="c-gallery" ng-if="entry.hasGallery">
              <h3>{{ entry.galleryTitle }}</h3>
               <ul class="c-gallery__list">
                 <li class="c-gallery__list-item" ng-repeat="image in entry.gallery">
                   <img ng-src="{{image.thumb}}" ng-click="showGallery($index)" />
                 </li>
               </ul>
            </div>

          </div>
        </section>
    </ion-content>
</ion-view>
