<ion-view title="Island Timeline" id="page8">
    <ion-content overflow-scroll="true" padding="false" class="has-header">
      <ul class="o-list-bare">
        <li ng-repeat="entry in entries | orderBy: 'date'">
          <div class="c-card t-{{ entry.theme }}">
            <a ui-sref="menu.islandTimeline.detail({ entryId: {{entry.id}} })">
              <div class="c-card__image-container">
                <img ng-src="{{entry.image}}" class="c-card__image"/>
              </div>
              <div class="c-card__body">
                <h1 class="c-card__date" data-fittext data-fittext-max="70">{{ entry.date }}<span ng-if="entry.plural">s</span></h1>
                <h2 class="c-card__sub-title">{{ entry.subtitle }}</h2>
                <p class="c-card__theme">{{ entry.themeName }}</p>
              </div>
              <span class="c-card__bar">More Information <i class="icon ion-chevron-right"></i></span>
            </a>
          </div>
        </li>
      </ul>
    </ion-content>
</ion-view>
