<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable t-{{ mainTheme }}">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21" width="{{ dev_width }}">
        <div class="bar bar-header bar-stable">
          <div class="title"></div>
          <div class="buttons buttons-right header-item">
            <span class="right-buttons">
              <button class="button button-icon button-clear ion-android-close" menu-toggle="left"></button>
            </span>
          </div>
        </div>

        <ion-content padding="false" scroll="false" class="side-menu-left has-header">
          <ul class="c-menu-list" ng-style="menuHeight">
            <li class="c-menu-list__item"><a ui-sref="menu.fortressSpikeIsland" menu-close=""><img src="img/spike-logo.png" /></a></li>
            <li class="c-menu-list__item fortress"><a ui-sref="menu.islandFortress" menu-close="">Island Fortress</a></li>
            <li class="c-menu-list__item prison"><a ui-sref="menu.islandPrison" menu-close="">Island Prison</a></li>
            <li class="c-menu-list__item island-home"><a ui-sref="menu.islandHome" menu-close="">Island Home</a></li>
            <li class="c-menu-list__item harbour"><a ui-sref="menu.corkHarbour" menu-close="">Cork Harbour</a></li>
            <li class="c-menu-list__item timeline"><a ui-sref="menu.islandTimeline" menu-close="">Island Timeline</a></li>
            <li class="c-menu-list__item"><a ui-sref="menu.virtualTour" menu-close="">Virtual Tour</a></li>
            <li class="c-menu-list__item"><a ui-sref="menu.visitSpikeIsland" menu-close="">Visit Spike Island</a></li>
          </ul>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
