<ion-view title="Tour of Spike" id="abc">
    <ion-content overflow-scroll="true" padding="false" class="has-header">
      <section class="c-block t-dark">
        <div class="c-block__head">
          <img ng-src="{{ entry.image }}" />
          <div class="c-block__bar">
            <h1 class="c-block__date">{{ entry.number }}</h1>
          </div>
        </div>

        <div class="c-block__body">
          <h3>{{ entry.title }}</h3>
          <span ng-bind-html="entry.body | renderHTMLCorrectly"></span>

          <div class="c-audio" ng-if="entry.hasAudio">
            <button class="button c-audio__button" ng-click="play()" ng-show="!showPause">Tap To Play Audio</button>
            <button class="button c-audio__button" ng-click="pause()" ng-show="showPause">Tap To Play Audio</button>
            <button class="button icon ion-ios-play c-audio__icon" ng-click="play()" ng-show="!showPause"></button>
            <button class="button icon ion-ios-pause c-audio__icon" ng-click="pause()" ng-show="showPause"></button>
          </div>
        </div>

        <div class="c-block__image">
          <img ng-src="{{ entry.mapImage }}" />
        </div>

        <div class="c-block__body" ng-show="entry.directions">
          <p class="u-p2">Directions to next monolith</p>
          <span ng-bind-html="entry.directions | renderHTMLCorrectly"></span>
        </div>
      </section>
    </ion-content>
</ion-view>
