<ion-view title="Tour of Spike" id="page9">
    <ion-content overflow-scroll="true" padding="false" class="has-header">
      <nav class="button-bar">
        <a ui-sref="menu.virtualTour" class="button">List</a>
        <a ui-sref="menu.virtualTourMap" class="button button--active">Map</a>
      </nav>
      <section class="s-solid-deafult-bg s-full-view">
        <img src="img/maps/map.jpg" alt="" />
        <nav>
          <ol class="c-list-rounded">
            <li class="c-list-rounded__item" ng-repeat="entry in entries"><a ui-sref="menu.virtualTourMap.detail({ entryId: {{ entry.id }} })">{{ entry.number }}</a></li>
          </ol>
        </nav>
      </section>
    </ion-content>
</ion-view>
