<ion-view title="Tour of Spike" id="page9">
    <ion-content overflow-scroll="true" padding="false" class="has-header">
      <nav class="button-bar">
        <a ui-sref="menu.virtualTour" class="button button--active">List</a>
        <a ui-sref="menu.virtualTourMap" class="button">Map</a>
      </nav>
      <ul class="o-list-bare">
        <li ng-repeat="entry in entries | orderBy: 'number'">
          <div class="c-card">
            <a ui-sref="menu.virtualTourMap.detail({ entryId: {{ entry.id }} })">
              <div class="c-card__image-container">
                <img ng-src="{{ entry.image }}" class="c-card__image"/>
              </div>
              <div class="c-card__body">
                <h1 class="c-card__title">{{ entry.title }}</h1>
              </div>
              <span class="c-card__bar">More Information <i class="icon ion-chevron-right"></i></span>
            </a>
          </div>
        </li>
      </ul>
    </ion-content>
</ion-view>
