<ion-view title="Visit Spike Island" id="page10">
    <ion-content overflow-scroll="true" padding="false" class="has-header">
      <div class="s-page">
        <ul class="o-list-bare">
          <li ng-repeat="entry in entries">
            <h3>{{ entry.title }}</h3>
            <span ng-bind-html="entry.body | renderHTMLCorrectly"></span>
          </li>
        </ul>
      </div>
    </ion-content>
</ion-view>
