/*
* Header Bar Overides
* We are using a separte font for the header
*/
.bar-header{
  .title{
    font-family: $headings-font-family;
    text-transform: uppercase;
  }
}

.bar-stable{

  &.t-home{
    background-color: $color-home;
    border-color: $color-home;
    .bar-stable{
      background-color: $color-home;
      border-color: $color-home;
    }
  }
  &.t-fortress{
    background-color: $color-fortress;
    border-color: $color-fortress;
    .bar-stable{
      background-color: $color-fortress;
      border-color: $color-fortress;
    }
  }
  &.t-harbour{
    background-color: $color-harbour;
    border-color: $color-harbour;
    .bar-stable{
      background-color: $color-harbour;
      border-color: $color-harbour;
    }
  }
  &.t-prison{
    background-color: $color-prison;
    border-color: $color-prison;
    .bar-stable{
      background-color: $color-prison;
      border-color: $color-prison;
    }
  }
}
