/*
* Audio Controls
*/
.c-audio{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  &__button{
    height: 65px;
    flex: 2 1 90%;
    font-family: 'vegurregular';
    text-transform: none;
    font-size: 20px;
    background: $color-default;
  }

  &__icon{
    height: 65px;
    flex: 1 2 10%;
    text-align: center;
    &::before{
      font-size: 28px !important;
      line-height: 65px !important;
    }
  }
}
