/*
* Card
*/

// Variables


// Parent Wrapper
.c-card{
  position: relative;
}

.c-card__image-container{
  position: relative;
  &::after{
    content: " ";
    background: $stable;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    opacity: $c-card-opacity;
    height: 100%;

    .t-fortress &{
      background: $color-fortress;
    }
    .t-prison &{
      background: $color-prison;
    }
    .t-home &{
      background: $color-home;
    }
    .t-harbour &{
      background: $color-harbour;
    }
  }
}

.c-card__image{
  width: 100%;
  display: block;
  filter: grayscale(100%);
}
// <div> Wrapper for content
.c-card__body{
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  padding: 0 23px 10px;
}

.c-card__date{
  color: $white;
  font-size: 70px;
  line-height: 60px;
  margin: 0;
}

.c-card__sub-title{
  color: $white;
  text-transform: uppercase;
  font-family: 'cochinregular';
  font-weight: 500;
  font-size: 30px;
  line-height: 26px;
  margin: 0 0 5px;
}
// This is the section name
.c-card__theme{
  color: $white;
  font-family: 'vegurregular';
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  margin: 0;
}
// Title is only used when there is no other elements
.c-card__title{
  color: $white;
  font-size: 42px;
  line-height: 42px;
  text-transform: uppercase;
  margin: 0 0 5px;
}
// More information bar
.c-card__bar{
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-decoration: none;
  text-align: right;
  height: 40px;
  line-height: 40px;
  color: $white;
  font-size: 20px;
  padding-right: 25px;
  background: transparentize($stable, $c-bar-transparency);

  .t-fortress &{
    background: transparentize($color-fortress, $c-bar-transparency);
  }
  .t-prison &{
    background: transparentize($color-prison, $c-bar-transparency);
  }
  .t-home &{
    background: transparentize($color-home, $c-bar-transparency);
  }
  .t-harbour &{
    background: transparentize($color-harbour, $c-bar-transparency);
  }

  i{
    margin-left: 18px;
  }
}
