/*
* Gallery
*/
.c-gallery{
  margin-top: 20px;
  // ul
  &__list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
  }
  // li
  &__list-item{
    margin: 4px 0;
    padding: 0 2px;
    flex-basis: 33%;
    // img within
    img{
      border: 2px solid $color-default;
    }
  }
}
