/*
* List With Rounded Items
*/
.c-list-rounded{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px 20px;
  &__item{
    text-align: center;
    font-family: 'cochinbold';
    font-size: 28px;
    flex: 1 25%;
    position: relative;
    height: calc(100vw / 4 - 15px);
    a{
      display: flex;
      justify-content: center;
      align-items: center;
      background: $white;
      border-radius: 50%;
      border: 4px solid $slate;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      margin: 5px 10px;
      color: $color-default;
      text-decoration: none;
    }
  }

}
