/*
* Main Menu
*/
.c-menu-list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  height: calc(100vh - 44px);
}
.c-menu-list__item{
  margin: 0;
  position: relative;
  width: 50%;
  flex: 1 1 50%;
  display: block;
  float: left;
  text-align: center;
  padding: 0 10px 25px;
  background: $stable;
  &:last-child{
    border-left: 1px dotted transparentize($app-white, 0.5);
  }
  &.fortress{
    background: $color-fortress;
  }
  &.prison{
    background: $color-prison;
  }
  &.island-home{
    background: $color-home;
  }
  &.harbour{
    background: $color-harbour;
  }
  &.timeline{
    background: $color-timeline;
  }
  a{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-family: 'cochinbold';
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 10px 25px;
    color: $app-white;
    img{
      width: 70%;
    }
  }
}
