/*
* Block Component
* - Essentially used for each section of conent or as modal body
*/
.c-block{
  background: $app-white;
}

.c-block__head{
  position: relative;
  img{
    display: block;
    width: 100%;
  }
}

.c-block__bar{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: right;
  background: transparentize($stable, $c-bar-transparency);
  border-bottom: 5px solid $stable;
  padding: 0 20px 0 0;

  .t-fortress &{
    background: transparentize($color-fortress, $c-bar-transparency);
    border-bottom: 5px solid $color-fortress;
  }
  .t-prison &{
    background: transparentize($color-prison, $c-bar-transparency);
    border-bottom: 5px solid $color-prison;
  }
  .t-home &{
    background: transparentize($color-home, $c-bar-transparency);
    border-bottom: 5px solid $color-home;
  }
  .t-harbour &{
    background: transparentize($color-harbour, $c-bar-transparency);
    border-bottom: 5px solid $color-harbour;
  }

  //Dark Theme
  .t-dark &{
    background: transparentize($slate, $c-bar-transparency);
    border-bottom: 5px solid $slate;
  }
}
// Essentially the title
.c-block__date{
  margin: 0;
  font-size: 75px;
  line-height: 75px;
  color: $white;

  &--range{
    font-size: 55px;
  }
}
// Contains the content
.c-block__body{
  padding: $custom-body-padding;

  h1,h2,h3,h4,h5,h6{
    color: $stable;
    font-family: 'vegurbold';
  }

  .t-dark &{
    background: $slate;

    *{
      color: $app-white;
    }
  }
}

.c-block__fact{
  padding: 20px 0 2px 0;
  border-top: 1px dotted $color-default;
  margin-top: 20px;
  p{
    color: $color-default;
    &.u-p2{
      font-family: 'vegurbold';
    }
  }
}
