/*
* Cochin
*/
@font-face {
    font-family: 'cochinbold';
    src: url('#{$font-path}/cochin-bold-webfont.eot');
    src: url('#{$font-path}/cochin-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/cochin-bold-webfont.woff2') format('woff2'),
         url('#{$font-path}/cochin-bold-webfont.woff') format('woff'),
         url('#{$font-path}/cochin-bold-webfont.ttf') format('truetype'),
         url('#{$font-path}/cochin-bold-webfont.svg#cochinbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cochinitalic';
    src: url('#{$font-path}/cochin-italic-webfont.eot');
    src: url('#{$font-path}/cochin-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/cochin-italic-webfont.woff2') format('woff2'),
         url('#{$font-path}/cochin-italic-webfont.woff') format('woff'),
         url('#{$font-path}/cochin-italic-webfont.ttf') format('truetype'),
         url('#{$font-path}/cochin-italic-webfont.svg#cochinitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cochinregular';
    src: url('#{$font-path}/cochin-webfont.eot');
    src: url('#{$font-path}/cochin-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/cochin-webfont.woff2') format('woff2'),
         url('#{$font-path}/cochin-webfont.woff') format('woff'),
         url('#{$font-path}/cochin-webfont.ttf') format('truetype'),
         url('#{$font-path}/cochin-webfont.svg#cochinregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*
* Vegur Embeded Font
* -> http://www.fontspace.com/arro/vegur
*/
@font-face {
    font-family: 'vegurbold';
    src: url('#{$font-path}/vegur-bold-webfont.eot');
    src: url('#{$font-path}/vegur-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/vegur-bold-webfont.woff2') format('woff2'),
         url('#{$font-path}/vegur-bold-webfont.woff') format('woff'),
         url('#{$font-path}/vegur-bold-webfont.ttf') format('truetype'),
         url('#{$font-path}/vegur-bold-webfont.svg#vegurbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'vegurregular';
    src: url('#{$font-path}/vegur-regular-webfont.eot');
    src: url('#{$font-path}/vegur-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/vegur-regular-webfont.woff2') format('woff2'),
         url('#{$font-path}/vegur-regular-webfont.woff') format('woff'),
         url('#{$font-path}/vegur-regular-webfont.ttf') format('truetype'),
         url('#{$font-path}/vegur-regular-webfont.svg#vegurregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
