/*
* App/Brand Colours
*/
$app-white: #f1ece1;
$white: $app-white;
$green: #325928;
$orange: #ba481b;
$yellow: #e49e00;
$blue: #005e83;
$slate: #27292b;
$wine: #59191f;
$dark-wine: #360000;
$light-wine: #59191f;

$color-fortress: $green;
$color-prison: $yellow;
$color-home: $orange;
$color-harbour: $blue;
$color-timeline: $slate;
$color-default: $wine;
