/*
* Shame!!
*/
.s-solid-deafult-bg{
  background: $color-default;
}

blockquote {
  border-left: none;
  margin: 0;
  padding: 12.5px 25px 12.5px 20px;
  p {
    font-weight: 300;
    font-size: ($font-size-base * 1);
    line-height: 1.25;
    color: #3a3d40;
  }
}

.s-text-center{
  text-align: center;
}
