<!--
  Very Rough Componet/Style Guide for Now
-->

<!--
  THEMES AVAILABLE:
    * t-fortress
    * t-home
    * t-prison
    * t-harbour
-->

<!--
:: CARD COMPONENT ::
------------------------------------------------------------------------
Theme can be removed from c-card and it will default to wine color.
Image will have css filter: grayscale(100%); applied to it
------------------------------------------------------------------------
-->

<!--* Card with Date *-->
<div class="c-card t-fortress">
  <a ui-sref="menu.islandFortress">
    <div class="c-card__image-container">
      <img src="img/place.jpg" class="c-card__image"/>
    </div>
    <div class="c-card__body">
      <h1 class="c-card__date">1700s</h1>
      <h2 class="c-card__sub-title">Spike Island During The Napoleonic Wars</h2>
      <p class="c-card__theme">Cork Harbour</p>
    </div>
    <span class="c-card__bar">More Information <i class="icon ion-chevron-right"></i></span>
  </a>
</div>

<!--* Card with title only *-->
<div class="c-card t-fortress">
  <a ui-sref="menu.islandFortress">
    <div class="c-card__image-container">
      <img src="img/place.jpg" class="c-card__image"/>
    </div>
    <div class="c-card__body">
      <h1 class="c-card__title">Island Fortress</h1>
    </div>
    <span class="c-card__bar">More Information <i class="icon ion-chevron-right"></i></span>
  </a>
</div>

<!--
:: BLOCK COMPONENT ::
------------------------------------------------------------------------
 * Theme can be removed from c-card and it will default to wine color
 * This can be used as the body of a modal or repeapted on a page
 * Block body should always contain a h2 as it's first title
 * c-block__body is where all html content should go
------------------------------------------------------------------------
-->

<section class="c-block t-fortress">
  <div class="c-block__head">
    <img src="img/place.jpg" />
    <div class="c-block__bar">
      <h1 class="c-block__date">1770s</h1>
    </div>
  </div>

  <div class="c-block__body">
    <h2>Fort Westmoreland I</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit voluptatem ducimus debitis eum veritatis repudiandae natus placeat maiores sapiente consequatur dignissimos laudantium eligendi ullam quas nesciunt itaque, quos unde saepe!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit voluptatem ducimus debitis eum veritatis repudiandae natus placeat maiores sapiente consequatur dignissimos laudantium eligendi ullam quas nesciunt itaque, quos unde saepe!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit voluptatem ducimus debitis eum veritatis repudiandae natus placeat maiores sapiente consequatur dignissimos laudantium eligendi ullam quas nesciunt itaque, quos unde saepe!</p>
  </div>
</section>

<!-- Example of Dark Component with extra content -->
<!-- NOTE:: The c-block__image has no styles added at the moment -->
<section class="c-block t-dark">
  <div class="c-block__head">
    <img src="img/place-monolith.jpg" />
    <div class="c-block__bar">
      <h1 class="c-block__date">7</h1>
    </div>
  </div>

  <div class="c-block__body">
    <h2>Fort Westmoreland I</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit voluptatem ducimus debitis eum veritatis repudiandae natus placeat maiores sapiente consequatur dignissimos laudantium eligendi ullam quas nesciunt itaque, quos unde saepe!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit voluptatem ducimus debitis eum veritatis repudiandae natus placeat maiores sapiente consequatur dignissimos laudantium eligendi ullam quas nesciunt itaque, quos unde saepe!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit voluptatem ducimus debitis eum veritatis repudiandae natus placeat maiores sapiente consequatur dignissimos laudantium eligendi ullam quas nesciunt itaque, quos unde saepe!</p>
  </div>

  <div class="c-block__image">
    <img src="img/place-map-detail.jpg" alt="" />
  </div>

  <div class="c-block__body">
    <p class="u-p2">Directions to next monolith</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit voluptatem ducimus debitis eum veritatis repudiandae natus placeat maiores sapiente consequatur dignissimos laudantium eligendi ullam quas nesciunt itaque, quos unde saepe!</p>
  </div>
</section>
<!--
:: SINGLE PAGE ::
------------------------------------------------------------------------
  This component is for just content from a single source. For now it
  only has been styled to allow for <h2> and <p> elements.
------------------------------------------------------------------------
-->

<div class="s-page">
  <h2>Fort Westmoreland I</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit voluptatem ducimus debitis eum veritatis repudiandae natus placeat maiores sapiente consequatur dignissimos laudantium eligendi ullam quas nesciunt itaque, quos unde saepe!</p>
  <h2>Fort Westmoreland I</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit voluptatem ducimus debitis eum veritatis repudiandae natus placeat maiores sapiente consequatur dignissimos laudantium eligendi ullam quas nesciunt itaque, quos unde saepe!</p>
  <h2>Fort Westmoreland I</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit voluptatem ducimus debitis eum veritatis repudiandae natus placeat maiores sapiente consequatur dignissimos laudantium eligendi ullam quas nesciunt itaque, quos unde saepe!</p>
</div>
