<ion-modal-view>
   <ion-header-bar class="bar-stable">
     <h1 class="title">{{ entry.galleryTitle }}</h1>
     <div class="buttons buttons-right header-item">
       <span class="right-buttons">
         <button class="button button-icon button-clear ion-android-close" ng-click="closeModal()"></button>
       </span>
     </div>
   </ion-header-bar>
   <ion-content class="c-modal s-text-center">
     <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="false" active-slide="activeSlide">
         <ion-slide ng-repeat="image in entry.gallery">
             <h4>{{ image.title }}</h4>
             <img ng-src="{{ image.src }}" />
         </ion-slide>
     </ion-slide-box>
   </ion-content>
 </ion-modal-view>
